body{
        margin: 0px;
        padding: 0px;
    }
    .container-fluid{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    header{
        height: 160px;
        margin: 0px;
        background-color: rgb(105, 105, 105);
        padding: 40px;
    }
    header h1{
        margin: 0px;
    }
    header h4{
        color: white;
    }
    .completeOrder{
        display: none;
    }
    .closeicon{
        font-weight: bold;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
    }
    .closeicon:hover{
        opacity: 0.5;
    }
    .order-card{
        background-color: lightgrey;
        margin: 50px;
        border-radius: 10px;
        width: 20%;
        margin-right:0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }