<% include partials/header %>
  <% if(message.length > 0){%>
    <div id="alertDialog" class="alert alert-success register-success">
      <span>
        <p role="alert"><%=message%></p>
        <p onclick="hideAlert()" class="close-alert">X</p>
      </span>          
    </div>
  <% }%>
  <div class="landing">
    <img src="images/landing.png" alt="A background image showing african map">
  </div>
   
    <div class="form-cover">
      <div class="form">
        <form action="/sms/send" method="post">
          <div class="card text-white bg-success mb-3 textarea" style="max-width: 18rem;">
            <div class="card-header">
              <h5 class="card-title">Enter recipients phone number</h5>
              <input type="text" name="number" id="message-area" placeholder="e.g 2348009876543">
            </div>
            <div class="card-body">
                <h5 class="card-title">Type your message below</h5>
                <p class="card-text"><textarea name="message" id="message-area" cols="55" rows="10"></textarea></p>
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-light">Send message</button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  
<% include partials/footer %>