<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title> Deployer Login</title>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
    {% load crispy_forms_tags %}

                <h1 class="mt-2">Pusher Login</h1>
                <hr class="mt-0 mb-4">
                {% block content %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field |as_crispy_field  }}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
                <p> <a href="{% url 'signup' %}"> Click here to Sign up</a></p>
                {% endblock %}
            </div>
        </div>
    </div>
</body>