body {
  margin: 0;
  padding: 0;
}
.landing img {
  width: 98vw;
  height: 98vh;
  opacity: 0.3;
}
.form-cover {
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 199, 199, 0.3);
}
.form {
  position: absolute;
  top: 15vh;
  left: 33.3vw;
}

.form input {
  width: 30vw;
}
.form-btns {
  width: 50%;
  margin: 0 auto;
}
.form-btns button {
  margin: 10px;
}
.register-success {
  z-index: 1;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.close-alert {
  float:right;
  cursor: pointer;
  margin-top:-2rem;
}
/********************************************
            Home page styles
********************************************/
#message {
  width: 40vw;
  background: rgba(248, 248, 248, 0.8);
}

#message-area {
  background: none;
  border: none;
  outline: none;
  color: white;
}
.textarea {
  width: 35vw;
  max-width: 40vw !important;
}
.radio-btns {
  position: absolute;
  top: 10vh;
  left: 33.3vw;
}