<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title> Welcome</title>

<body>
    <div class="container">
       <h3> Welcome </h3> <pre> We're updating this Page 😊😊😊 </pre>
<p> A service that allows users send emails by sending a sms to a AT's shortcode (Useful when there's no internet) </p>
<ul>
<li>Create a Shortcode from your AT's account</li>

<li>Add this URL as your Callback URL: <code>https://puzher.herokuapp.com/listener/</code></li>

<li>Use the <a href="https://simulator.africastalking.com:1517/simulator">sandbox</a> to send SMS to your shortcode.</li>

<li>SMS should be inform of: <b> <code>Can you cancel all my meetings? receiver@gmail.com</code> </b> , the content of the mail will be sent to the mail included in your text.</li>
</ul>
    </div>
</body>